

.Maps-container {
    /* margin-top: 3%; */
    margin: 7% 5% 5% 5%;
    /* margin-left: 5%; */
}

.card-containerrr {
    height: 40vh !important;
    /* width: 20vw; */

} 

.card-imgg {

    height: 100px;
    width: 100px;
    border-radius: 5px;
    padding: 0 0 10px 0;
}
.infowindow {
    display: flex;
    flex-direction: column;
}
/* .link-map {
    color: blueviolet;
    font-size: 20px;
    text-decoration: none;
} */
