.row {
    margin: 0px !important;
    width: 100%;
}

/* .navbar {
    position: fixed;
} */
.Nav--bar {
    overflow: hidden;
    position: fixed !important;
    z-index: 1;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-text {
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.nav-pages {
    background: #F3E9FF;
    border-radius: 5px;
}

/* .Btn-search {
    margin-right: 10%s;
} */

.nav-logo {
    width: 50.68px;
    height: 42.75px;
    margin-left: 1vw;
    top: 10px;
}


.has-search .form-control {
    padding-left: 2.375rem;
    height: 34px !important;
    width: 25vw !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    /* width: 2.375rem; */
    /* height: 1rem !important; */
    /* line-height: 2.375rem; */
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }

}

/* .login-signup >  */