
.card-container{
    /* margin-top: 5%;  */
    position: absolute;
    top: -270px;
    margin-left: 350px;  
    width:770px;
    height: 40vh;
    background: rgba(214, 209, 209, 0.54) !important;
}
